<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="firstproject" transaction-type="RESOURCE_LOCAL">

        <class>com.company.firstproject.entity.Contragents</class>
        <class>com.company.firstproject.entity.Adresses</class>
        <class>com.company.firstproject.entity.ContactInfo</class>
        <class>com.company.firstproject.entity.Roles</class>
        <class>com.company.firstproject.entity.Team</class>
        <class>com.company.firstproject.entity.Company</class>
        <class>com.company.firstproject.entity.MainInformation</class>
    </persistence-unit>
</persistence>
